*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator {
    width: 15%;
    display: block;
    border: 1px solid #212121;
    margin: 10% auto;
}

.calculator .calc-display {
    display: block;
    padding: 1.5rem;
    text-align: right;
    background: #212121;
    color: #fff;
    width: 100%;
    outline: none;
    border: 2px solid #919191;
    font-size: 1.5rem;
}

.calculator .calc-panel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.num-button {
    padding: 1rem;
    background: #EFEFEF;
    border: 1px solid #D3D3D3;

}

.num-button:hover {
    background: #e6e6e6;
}

.operator-button {
    padding: 1rem;
    background: #f0f6f9;
    border: none;
    grid-row-start: 1;
    border: 1px solid #bce1f5;
}

.operator-button:hover {
    background: #e3f1f7;
}

.function-button {
    padding: 1rem;
    background: #abb4b9;
    border: none;
    color: #fff;
    border: 1px solid #9c9c9c;
}

.function-button:hover {
    background: #959da1;
}

.delete {
    grid-area: 2 / 4;
}

.clear {
    grid-area: 3 / 4 / 5 / 4;
}

.equal {
    grid-area: 5 / 3 / 5 / 5;
}