*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 32px;
}

.calculator {
    width: 350px;
    display: block;
    margin: 200px auto;
}

.calculator .calc-display {
    display: block;
    padding: 24px;
    text-align: right;
    background: #212121;
    color: #fff;
    width: 100%;
    font-size: 1.5rem;
    cursor: default;
}

.calculator .calc-panel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
}

.num-button {
    padding: 1rem;
    background: #faf9f9;
    border: .5px solid #e6e6e6;

}

.num-button:hover {
    background: #e6e6e6;
}

.num-button:active {
    background: #dbdbdb;
}

.operator-button {
    padding: 1rem;
    background: #f4fcff;
    border: none;
    grid-row-start: 1;
    border: 1px solid #cfe9f7;
}

.operator-button:hover {
    background: #e3f1f7;
}

.operator-button:active {
    background: #d4ebf5;
}

.function-button {
    padding: 1rem;
    background: #ebebeb;
    border: none;
    border: 1px solid #cecece;
}

.function-button:hover {
    background: #d8d8d8;
}

.function-button:active {
    background: #c7c7c7;
}

.decimal {
    grid-area: 5 / 1;
}

.delete {
    grid-area: 2 / 4;
}

.clear {
    grid-area: 3 / 4;
}

.equal {
    grid-area: 4 / 4 / 6 / 5;
}